{
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true
    }
  },
  "env": {
    "es6": true
  },
  "rules": {
    "prefer-arrow-callback": [
      2,
      {
        "allowNamedFunctions": false,
        "allowUnboundThis": false
      }
    ],
    "quotes": [2, "single"]
  }
}
